$main_font: "Open Sans";
$fix_font: Arial, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

$white: #ffffff;
$black: #231f20;
$green: #1da01d;
$light-grey:#ececec;
$dark-grey:#c4c4c4;
$red:#ed2121;